# Content based simple recommender

This recommender assumes that ratings is the only parameter needed to decide whether a movie should be recommended to a user.

In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import dask.array as da
import h5py
from dask_ml.model_selection import train_test_split

In [24]:
data = dd.read_csv('../ratings.csv').set_index('movieId')
metadata = pd.read_csv('../movies_metadata.csv', dtype={'budget':'object',
                                                       'id': 'object',
                                                       'popularity': 'object',
                                                       'revenue': 'float64',
                                                        'vote_count': 'float64'})
data.head()

         userId  rating   timestamp
movieId
1         25328     1.0   858444862
1        152705     5.0  1426791143
1        152706     4.0   867179781
1        152712     4.0   946319816
1        152719     4.0  1342215718

In [11]:
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

### Computing average rating for each movie

In [36]:
movieIds = list(data.iloc[:,0].unique())
movieIds.sort()

In [42]:
indices = sorted(list(data.iloc[:,0]))

In [54]:
n_ratings = len(data)

In [55]:
ratings_list = list(data.iloc[:, 2])

In [53]:
i = 0
j = 0
k = 0
Id = movieIds[i]
ratings = {Id: 0}
while True:
    if j == n_ratings:
        break
    if Id != indices[j]:
        i += 1
        ratings[Id] = ratings[Id]/k
        k = 0
        Id = movieIds[i]
        ratings.update({Id: 0})
    ratings[Id] += data.loc[j, 'rating']
    j += 1
    k += 1
print(ratings.loc[50])

KeyError: 'the label [0] is not in the index'

In [56]:
print(ratings_list[0])

1289294370

In [26]:
for key in metadata.keys():
    for value in pd.isna(metadata[key]):
        if value == True:
            print(key + ' contains NaN')
            break

belongs_to_collection contains NaN
homepage contains NaN
imdb_id contains NaN
original_language contains NaN
overview contains NaN
popularity contains NaN
poster_path contains NaN
production_companies contains NaN
production_countries contains NaN
release_date contains NaN
revenue contains NaN
runtime contains NaN
spoken_languages contains NaN
status contains NaN
tagline contains NaN
title contains NaN
video contains NaN
vote_average contains NaN
vote_count contains NaN

In [22]:
vote_count = metadata[metadata['vote_count'].notnull()]['vote_count'].astype('int')
vote_average = metadata[metadata['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_average.mean()
print(data.shape[0].compute())
C

26024289

5.244896612406511

In [3]:
n_users = len(data['userId'].unique())
n_movies = len(data['movieId'].unique())
print('Number of users: ' + str(n_users) + '\nNumber of movies reviewed: ' + str(n_movies))

Number of users: 270896
Number of movies reviewed: 45115

In [ ]:
## train_data, test_data = train_test_split(data, test_size = 0.25, shuffle = True)
# n_users_train = len(train_data['userId'].unique())
# n_users_test = len(test_data['userId'].unique())
# n_movies_train = len(train_data['movieId'].unique())
# n_movies_test = len(test_data['movieId'].unique())
max_userId = np.max(data['userId'].unique()).compute()
max_movieId = np.max(data['movieId'].unique()).compute()

In [ ]:
%%time

chunks_r = 25000
chunks_c = 5000

train_matrix = da.zeros(shape=(1, max_movieId))
for i in np.arange(max_userId):
    user_ratings = np.zeros(max_movieId)
    user = train_data[train_data['userId'] == i]
    length = len(user)
    for j in np.arange(length):
        user_ratings[user.loc[j, 'movieId'] - 1] = user.loc[j, 'rating']
    train_matrix = da.concatenate([train_matrix, user_ratings.reshape(1, max_movieId)], axis = 0)